body {
    font-family: 'Montserrat', sans-serif;
    background-color: #0A0A0A; /* deep black background */
    color: #E0E0E0; /* soft silver text */
    background: #0A0A0A url('https://cdn.pixabay.com/photo/2016/11/19/14/00/space-1833779_960_720.jpg') repeat;
    background-size: cover;

}

header {
    background: linear-gradient(135deg, #0d0d0d 0%, #1a1a1a 100%);
    color: #00FFE7; /* electric teal */
}

h2 {
    color: #8F00FF; /* deep neon purple */
}



.profile-pic{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

.button {
    background: linear-gradient(135deg, #8F00FF, #00FFE7);
    color: black;
    font-weight: bold;
}

.button:hover {
    background-color: #00337f;
}

header h1 {
    margin: 0;
    font-size: 3em;
}

header p {
    font-size: 1.2em;
    margin-top: 10px;
}

section {
    padding: 40px 20px;
    max-width: 800px;
    margin: auto;
}

section h2 {
    color: #004aad;
    margin-bottom: 15px;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

a {
    color: #004aad;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px 10px;
    margin-top: 40px;
}
